.banner {
  display: flex;
  width: 100%;
  max-height: 40rem;
  min-height: 30rem;
  aspect-ratio: 5/2;
  position: relative;
}
.banner .wrapper {
  position: relative;
  max-width: 2000px;
  display: flex;
  justify-content: center;
}
.banner__image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
}
.banner__image--active {
  opacity: 1;
}
.banner__image__box {
  position: relative;
}
.banner__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__image--cover .wrapper {
  max-width: 2000px;
}
.banner__image--cover .banner__image__box {
  width: 100%;
}
.banner__image--cover .banner__image__box img {
  width: 100%;
}
.banner__content {
  position: absolute;
  min-height: 20rem;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  max-width: 60rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4em;
  height: 100%;
}
.banner__content h2,
.banner__content p {
  font-family: "Lato", sans-serif;
}
.banner__content h2 {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 2rem;
}
.banner__content p {
  font-size: 1.2em;
}
.banner__text {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.banner__text__color {
  color: #202653;
}
.banner__text__color--light {
  color: #fff;
  text-shadow: 1px 1px 3px black;
}
.banner__text__color--dark {
  text-shadow: 1px 1px 3px #fff;
}
.banner__text--short {
  max-width: 30rem;
}
.banner__text__link {
  color: #202653;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  padding: 0.3em 0.5em;
  border: 1px solid #202653;
}
.banner__text__link:hover {
  color: #fff;
  background-color: #202653;
}
.banner__text__link--light {
  color: #fff;
  border: 1px solid #fff;
  text-shadow: 1px 1px 3px black;
}
.banner__transport {
  display: flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  max-width: 20em;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}
.banner__dots {
  display: flex;
  gap: 0.5rem;
  position: relative;
  z-index: 2;
}
.banner__dots__item {
  cursor: pointer;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgba(0, 0, 0, 0.26);
}
.banner__dots__item--active, .banner__dots__item:hover {
  background-color: #2d3661;
}
.banner__arrow {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.banner__arrow svg {
  width: 1.3em;
  height: 1.3em;
  stroke: rgba(0, 0, 0, 0.26);
}
.banner__arrow svg path {
  fill: #fff;
}
.banner__arrow button {
  cursor: pointer;
}
.banner__arrow button:hover svg path {
  fill: #2d3661;
}

.progressbar {
  width: 100%;
  height: 0.25em;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}
.progressbar__cover {
  width: 100%;
  height: 100%;
  background-color: rgb(224, 224, 224);
  position: relative;
}
.progressbar__cover__bar {
  width: 100%;
  height: 100%;
  background-color: rgb(57, 56, 88);
  position: absolute;
  left: -100%;
}
.progressbar--active {
  animation: 5s leftbar linear;
}

@keyframes leftbar {
  100% {
    left: 0%;
  }
}/*# sourceMappingURL=banner.css.map */