.home {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.home__main-section .container {
  padding: 0.5em;
  gap: 1em;
}
.home__main-section h2 {
  padding-top: 0.5em;
  font-size: 1.4em;
  font-weight: bold;
}
.home__section .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
@media (max-width: 1200px) {
  .home__section .container {
    grid-template-columns: 1fr;
  }
}
.home__section__box {
  margin: 0 auto;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}
@media (max-width: 900px) {
  .home__section__box {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    max-width: 600px;
  }
}
@media (max-width: 400px) {
  .home__section__box {
    grid-template-columns: repeat(1, minmax(240px, 1fr));
  }
}
.home__section__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.home__section__item:hover {
  outline: 1px solid rgb(161, 161, 161);
}
.home__section__img {
  display: flex;
}
.home__section__img img {
  width: 100%;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
}
.home__section__text {
  padding: 1em;
  border-top: none;
}
.home__section__text p:nth-of-type(1) {
  color: rgb(184, 16, 16);
  text-transform: uppercase;
}
.home__section__text__sale {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.home__brand-new {
  padding-bottom: 2em;
  padding-top: 1em;
}
.home__brand-new .container {
  display: flex;
}
@media (max-width: 740px) {
  .home__brand-new .container {
    flex-direction: column;
  }
}
.home__brand-new__img {
  aspect-ratio: 11/5;
  width: 100%;
  max-width: 1400px;
}
.home__brand-new__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  .home__brand-new__img {
    aspect-ratio: 11/6;
  }
}
@media (max-width: 460px) {
  .home__brand-new__img {
    min-height: 20rem;
  }
  .home__brand-new__img img {
    -o-object-position: 80%;
       object-position: 80%;
  }
}
.home__brand-new__text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding: 1em;
  flex: 1 1 40%;
  border: 1px solid var(--clr-line);
  align-items: center;
  text-align: center;
}
.home__brand-new__text p:nth-of-type(1) {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}
.home__brand-new__text button {
  width: -moz-max-content;
  width: max-content;
  border: 1px solid var(--clr-line);
  padding: 0.5em 1.5em;
}
.home__brand-new__text button:hover {
  border: 1px solid black;
  color: black;
}

.remove-localstorage {
  padding: 0.5em;
}
.remove-localstorage .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  min-height: 30em;
  padding: 2em;
}
.remove-localstorage__text {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 60rem;
}
.remove-localstorage__text h3 {
  font-weight: bold;
  margin: 0 auto;
}
.remove-localstorage__text__btn-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.remove-localstorage button {
  padding: 0.5em 1em;
  background-color: rgb(194, 39, 39);
  color: #fff;
  font-size: 0.9em;
  margin: 0 auto;
}
.remove-localstorage button:hover {
  background-color: rgb(185, 85, 85);
}
.remove-localstorage h3,
.remove-localstorage p,
.remove-localstorage button {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=home.css.map */