.home {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &__main-section {
    .wrapper {
      padding: 2em 0.5em;
    }
    .container {
      gap: 0.5em;
    }
    h2 {
      font-size: 1.5em;
      font-weight: bold;
      font-family: sans-serif;
    }
  }

  // --------------- best seller starts from here
  &__section {
    .container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      h2 {
        span {
          color: rgb(216, 39, 113);
        }
      }
    }
    &__box {
      margin: 0 auto;
      display: grid;
      gap: 0.5em;
      grid-template-columns: repeat(4, minmax(120px, 1fr));
      @media (max-width: 600px) {
        grid-template-columns: repeat(2, minmax(120px, 1fr));
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      &:hover {
        outline: 1px solid rgb(161, 161, 161);
      }
    }
    &__img {
      display: flex;

      img {
        width: 100%;
        aspect-ratio: 3/4;
        object-fit: cover;
      }
    }
    &__text {
      padding: 1em;
      border-top: none;
      p:nth-of-type(1) {
        color: rgb(184, 16, 16);
        text-transform: uppercase;
      }

      p {
        color: var(--clr-dark);
        font-size: 0.9em;
      }

      &__sale {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }
  }

  // --------------- new cloth starts from here
  &__brand-new {
    .container {
      display: flex;

      @media (max-width: 740px) {
        flex-direction: column;
      }

      &:hover {
        .role-link {
          border: 1px solid black;
          color: black;
        }
      }
    }
    &__img {
      aspect-ratio: 11/4;
      width: 100%;
      max-width: 1400px;

      img {
        object-fit: cover;
        object-position: 50%;
        width: 100%;
        height: 100%;
      }

      @media (max-width: 460px) {
        aspect-ratio: 11/6;
        img {
          object-position: 80%;
        }
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      justify-content: center;
      padding: 1em;
      flex: 1 1 40%;
      border: 1px solid var(--clr-line);
      align-items: center;
      text-align: center;
      p:nth-of-type(1) {
        font-size: 1.2em;
      }
      .role-link {
        width: max-content;
        border: 1px solid var(--clr-line);
        padding: 0.5em 1.5em;
      }
    }
  }
}

.remove-cookie {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 60rem;

    h3 {
      font-weight: bold;
      margin: 0 auto;
    }

    &__btn-box {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }

  button {
    padding: 0.5em 1em;
    background-color: rgb(194, 39, 39);
    color: #fff;
    font-size: 0.9em;
    margin: 0 auto;
    &:hover {
      background-color: rgb(185, 85, 85);
    }
  }

  h3,
  p,
  button {
    font-family: "Roboto", sans-serif;
  }
}
