header {
  background-color: var(--clr-white);
  border-bottom: 1px solid rgb(236, 233, 233);
  position: relative;
}

nav {
  display: flex;
  padding: 1em 2em;
  justify-content: space-between;
}

.nav__content {
  display: flex;
  align-items: center;
  gap: 2em;

  ul {
    display: flex;
    gap: 2em;
  }
}

.nav__logo {
  width: 2.5em;
  height: 2.5em;
}

.nav__cloth {
  display: flex;
}

.nav__lists {
  position: absolute;
  left: 0;
  top: calc(1px + 100%);
  width: 100%;
  background-color: var(--clr-white);
  border-bottom: 1px solid rgb(236, 233, 233);
  display: none;

  &--active {
    display: block;
  }
  .wrapper {
    padding: 1em 2em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    > div {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }
}
