header {
  background-color: var(--clr-white);
  border-bottom: 1px solid var(--clr-mid);
  position: relative;
}

nav {
  display: flex;
  padding: 1em 2em;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.nav__flex {
  display: flex;
  justify-content: space-between;
}

.nav__content {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 0.5em 0;

  &:nth-of-type(1) {
    a:hover,
    button:hover {
      text-decoration: underline;
      color: black;
    }
  }
}

.nav__logo {
  width: 5em;
  height: 5em;
  margin: 0 auto;
}

.nav__cloth {
  display: flex;
}

.nav__lists {
  position: absolute;
  left: 0;
  top: calc(100%);
  width: 100%;
  border-bottom: 1px solid var(--clr-mid);
  background-color: var(--clr-white);
  display: none;

  &--active {
    display: block;
  }

  .wrapper {
    padding: 1.5em 2em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 4em;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;

    a:hover {
      text-decoration: underline;
      color: black;
    }
  }
  &__category {
    color: #8a8484;
    user-select: none;
    pointer-events: none;
  }
}

.nav__cloth__btn--clothes--active {
  text-decoration: underline;
  color: black;
}
