.purchase {
  .container {
    width: 100%;
    padding: 0.5em;
    gap: 1em;
    // flex-direction: column;
    display: flex;
  }

  &__lists {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    > label {
      display: flex;
      gap: 1em;
      max-width: 40rem;
      width: 100%;
    }
  }
}

.purchase__card {
  display: flex;
  gap: 1em;
  width: 100%;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--clr-line-light);
  background-color: #f8f8f8;
  position: relative;

  &__img {
    flex-shrink: 0;
    width: 6em;
    aspect-ratio: 7/10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;

    &__model {
      font-size: 0.8em;
    }
  }

  &__btn {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    max-width: 8rem;
    flex-shrink: 0;
    padding: 1em;

    > label {
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-size: 0.8em;

      input {
        font-size: initial;
        width: 2em;
        text-align: center;
        border: 1px solid var(--clr-line);
        outline: none;
        &:disabled {
          background-color: rgb(185, 185, 185);
          &:hover {
            cursor: not-allowed;
          }
        }

        &:focus {
          background-color: var(--clr-focus);
        }
      }
    }

    button {
      width: 100%;
      padding: 0.5em 1em;
      background-color: #d4d4d4;
      border-radius: 2px;
      font-size: 0.8em;

      &:hover {
        background-color: #b6b6b6;
      }
    }
  }

  &__delete {
    flex-shrink: 0;
    height: 100%;
    width: 2em;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 1em;
      height: 1em;
      rect {
        fill: rgb(34, 34, 34);
      }
    }

    &:hover {
      background-color: rgb(180, 180, 180);
    }
  }
}
